{% extends 'store/base.html' %}
{% load static %}
{% block title %}
Add Review
{% endblock title %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
	<style>
		#navbar-container {
			border-bottom: 1px solid #b5b2c8;
		}
		
		#navbar-right li p,
		#navbar-bottom li a,
		#navbar-login li a,
		#navbar li a {
			color: #000;
		} 
	</style>
	<style>
		/* Style for the form container */
		form {
		  max-width: 400px;
		  margin: 0 auto;
		  padding: 20px;
		  border: 1px solid #ccc;
		  border-radius: 5px;
		  font-family: Arial, sans-serif;
		}
	  
		/* Style for form labels */
		label {
		  display: block;
		  margin-bottom: 5px;
		  font-weight: bold;
		}
	  
		/* Style for form inputs */
		input[type="text"],
		input[type="number"],
		select,
		textarea {
		  width: 100%;
		  padding: 10px;
		  margin-bottom: 10px;
		  border: 1px solid #ccc;
		  border-radius: 5px;
		  box-sizing: border-box;
		  font-family: Arial, sans-serif;
		}
	  
		/* Style for the select dropdown */
		select {
		  height: 40px;
		}
	  
		/* Style for the textarea */
		textarea {
		  resize: vertical; /* Allows vertical resizing of the textarea */
		}
	  
		/* Style for the file input */
		input[type="file"] {
		  margin-top: 5px;
		}
	  
		/* Style for the submit button */
		input[type="submit"] {
		  background-color: #4CAF50;
		  color: #fff;
		  border: none;
		  padding: 10px 20px;
		  border-radius: 5px;
		  cursor: pointer;
		}
	  
		/* Additional styles for the submit button on hover */
		input[type="submit"]:hover {
		  background-color: #45a049;
		}
	  </style>	  
{% endblock css %}
{% block content %}
	<h1>Add Review</h1>
	<form method="POST" action="{% url 'add_review' %}" enctype="multipart/form-data">
	{% csrf_token %}
		<label>Select a product</label><br>
        <select name="selected_product">
            <option value='none'>Select a product...</option>
            {% for product in products %}
            	<option value='{{product.slug}}'>{{product.name}}</option>
            {% endfor %}
        </select><br>

        <label>Name</label><br>
        <input type="text" name="name" placeholder="Enter author's name" required><br>

        <label>Revies's text</label><br>
        <textarea name="text" rows="10" required></textarea><br>
        <!-- <input type="text" name="text" placeholder="Enter text" required><br> -->

        <label>Rating</label><br>
        <input type="number" name="rating" placeholder="Enter number of stars (1-5)" required><br>

        <label>Pictures</label><br>
        <input type="file" name="images" required multiple><br>

        <input type="submit" value="Send"/>
	</form>
{% endblock content %}






