{% extends 'store/base.html' %}
{% load static %}
{% block title %}
Your Shopping Cart
{% endblock title %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
	<style>
		#header {
			background-image: none;
		}
		#navbar-container {
			border-bottom: 1px solid #b5b2c8;
		}
		
		#navbar-right li p,
		#navbar-bottom li a,
		#navbar-login li a,
		#navbar li a {
			color: #000;
		} 
	</style>
	<style>
		.qty {
		  display: flex;
		  flex-wrap: wrap;
		  justify-content: start;
		  text-align: center;
		  margin-top: 1rem;
		}

		input.qtyinput {
		  width: 3rem; height: 1.5rem;  
		  font-size: 1rem;
		  text-align: center;
		  border: 1px solid #575757;
		  margin-top: 0px;
		}
		button.qtyminus,
		button.qtyplus {
		  width: 1.5rem; height: 1.5rem;
		  color: #fff;
		  font-size: 1.2rem;
		  background: #575757;
		  margin-top: 0px;
		  padding: 0px;
		}


		.qtyminus {
		 padding: 0;
		  margin: 0;
		  border-style: none;
		  touch-action: manipulation;
		  display: inline-block;
		  border: none;
		  background: none;
		  cursor: pointer;
		}

		.qtyplus {
		  padding: 0;
		  margin: 0;
		  border-style: none;
		  touch-action: manipulation;
		  display: inline-block;
		  border: none;
		  background: none;
		  cursor: pointer;
		}

		.remove {
			margin-top: 0.3rem;
			font-size: 0.95rem;
    		font-weight: 500;
    		letter-spacing: 1px;
    		cursor: pointer;
		}

		.summary-table {
			width: 400px;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 8px;
			margin-left: auto;
			position: sticky;
			top: 30px;
			background-color: #F7F7F7;
		}
		
		.summary-table h2 {
			font-size: 20px;
			margin-bottom: 10px;
		}
		
		.summary-table p {
			margin: 0;
			font-size: 16px;
			color: #333;
		}
		
		.summary-table h3 {
			font-size: 18px;
			margin-bottom: 10px;
		}
		
		.summary-table p:nth-of-type(2) {
			margin: 0;
			font-size: 16px;
			color: #4caf50; 
		}
		
		.summary-table button {
			background-color: transparent;
			color: black;
			border: none;
			padding: 10px 20px;
			border-radius: 4px;
			font-size: 16px;
			cursor: pointer;
			display: block;
			width: 100%;
			margin-top: 20px;
			border: 2px solid black;
			border-radius: 12px;
		}
		
		.summary-table button a {
			text-decoration: none;
			color: black;
		}
		
		.summary-table button:hover {
			background-color: rgba(0, 0, 0, .1);;
		}
	</style>
	<style>

		.cart-row img {
		max-width: 100px;
		max-height: 100px;
		}

		.cart-row h5 {
		margin: 0;
		font-size: 1rem;
		line-height: 1.5;
		letter-spacing: 1.1px;
		display: flex;
		align-items: center;
		}

		.cart-row-info {
			width: 70%;
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		}

		.variant-placing {
			font-size: 0.95rem;
			font-weight: 500;
		}
	</style>
		
{% endblock css %}
{% block content %}
	<section class="section-cart">
		<h1>Shopping Cart</h1>
		{% if order != None %}
			<div class="cart">
				<div class="cart-container">

					{% for item in orderItems %}
						<div class="cart-row">
							<img src="{{ item.product.first_image_url }}">
							<div class="cart-row-info">
								<div>
									<h5>{{ item.product.name }}</h5>
									<span class="variant-placing">{{ item.variant_title }}</span>
									<div class="qty">
										<button class="qtyminus" aria-hidden="true">&minus;</button>
										<input class="qtyinput" min="1" value="{{item.quantity}}" type="number" name="quantity">
										<button class="qtyplus" aria-hidden="true">&plus;</button>
									</div>
									<p class="remove">Remove</p>
								</div>
								
								<h5 class="cart-total">{{ item.get_total }}</h5>	
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="sticky-table">
					<div class="summary-table">
						<h2>Subtotal</h2>
						{% if request.session.coupon_id %}
							<p class="subtotal-price">{{ cart_total }}</p>
						{% else %}
							<p class="subtotal-price">{{ order.get_cart_total }}</p>
						{% endif %}
						<button><a href="{% url 'checkout' %}">CHECK OUT</a></button>
						<form class="coupon" method="POST" action="{% url 'coupon' %}">
							{% csrf_token %}
							{{ form }}
							<button type="submit">Apply Coupon</button>
						</form>
					</div>
				</div>
			</div>
			<script>
				function update_quantity(index, currentQuantity) {
					var orderId = '{{order.id}}';

					var cartRowsInfo = document.querySelectorAll('.cart-row-info');
					var cartRowInfo = cartRowsInfo[index];

					var productName = cartRowInfo.querySelector('h5').textContent;
					var productVariant = cartRowInfo.querySelector('span').textContent;

					var data = [];
					data.push(orderId);
					data.push(productName);
					data.push(productVariant);
					data.push(currentQuantity);

					var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

					fetch('/update-quantity/', {
						method: 'POST',
						body: JSON.stringify(data),
		  				headers: {
		  					'Content-Type': 'application/json',
		  					'X-CSRFToken': csrfToken,
		  				}	
					})
					.catch(error => {
		  				console.error('Error: ', error);
		  			});

				}

				var decreaseButtons = document.querySelectorAll('.qtyminus');
				var increaseButtons = document.querySelectorAll('.qtyplus');
				var quantityElements = document.querySelectorAll('.qtyinput');

				decreaseButtons.forEach((button, index) => {
					button.addEventListener('click', () => {
						var currentQuantity = parseInt(quantityElements[index].value);

						if (currentQuantity > 1) {
							var cartTotals = document.querySelectorAll('.cart-total');
							var price = parseFloat(cartTotals[index].textContent) / currentQuantity;
							currentQuantity--;
							quantityElements[index].value = currentQuantity;
							update_quantity(index, currentQuantity);
							
							cartTotals[index].textContent = (Math.round(price * currentQuantity * 100) / 100).toFixed(2);

							var subtotalPrice = document.querySelector('.subtotal-price');
							var total = 0;
							cartTotals.forEach(function(cartTotal) {
								total += parseFloat(cartTotal.textContent);
							});
							subtotalPrice.textContent = (Math.round(total * 100) / 100).toFixed(2);
						}
					});
				});

				increaseButtons.forEach((button, index) => {
					button.addEventListener('click', () => {
						var currentQuantity = parseInt(quantityElements[index].value);
						var cartTotals = document.querySelectorAll('.cart-total');
						var price = parseFloat(cartTotals[index].textContent) / currentQuantity;
						currentQuantity++;
						quantityElements[index].value = currentQuantity;
						update_quantity(index, currentQuantity);
						
						cartTotals[index].textContent = (Math.round(price * currentQuantity * 100) / 100).toFixed(2);

						var subtotalPrice = document.querySelector('.subtotal-price');
						var total = 0;
						cartTotals.forEach(function(cartTotal) {
							total += parseFloat(cartTotal.textContent);
						});
						subtotalPrice.textContent = (Math.round(total * 100) / 100).toFixed(2);
					});
				});

				var removeButtons = document.querySelectorAll('.remove');
				removeButtons.forEach((button, index) => {
					button.addEventListener('click', () => {
						var orderId = '{{order.id}}';

						var cartRowsInfo = document.querySelectorAll('.cart-row-info');
						var cartRowInfo = cartRowsInfo[index];

						var productName = cartRowInfo.querySelector('h5').textContent;
						var productVariant = cartRowInfo.querySelector('span').textContent;

						var data = [];
						data.push(orderId);
						data.push(productName);
						data.push(productVariant);

						var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

						fetch('/remove-order-item/', {
							method: 'POST',
							body: JSON.stringify(data),
			  				headers: {
			  					'Content-Type': 'application/json',
			  					'X-CSRFToken': csrfToken,
			  				}	
						})
						.then(response => {
							location.reload();
						})
						.catch(error => {
			  				console.error('Error: ', error);
			  			});
					});
				});
			</script>
		{% else %}
			<h1 style="text-align:center;padding: 100px">No Items in cart</h1>
		{% endif %}
	</section>
{% endblock content %}

















