{% extends 'store/base.html' %}
{% load static %}
{% block title %}
Privacy Policy
{% endblock title %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
	<style>
		#navbar-container {
			border-bottom: 1px solid #b5b2c8;
		}
		
		#navbar-right li p,
		#navbar-bottom li a,
		#navbar-login li a,
		#navbar li a {
			color: #000;
		} 
	</style>
{% endblock css %}
{% block content %}
	<section class="section-p1">
		<div class="policy-container">
			<h2>PRIVACY POLICY</h2>
			<p class="last">This Privacy Policy describes how sageandsill.com (the “Site” or “we”) collects, uses, and discloses your Personal Information when you visit or make a purchase from the Site.</p>

			<h4>Collecting Personal Information</h4>
			<p class="last">When you visit the Site, we collect certain information about your device, your interaction with the Site, and information necessary to process your purchases. We may also collect additional information if you contact us for customer support. In this Privacy Policy, we refer to any information that can uniquely identify an individual (including the information below) as “Personal Information”. See the list below for more information about what Personal Information we collect and why.</p>

		</div>
	</section>
{% endblock content %}