{% extends 'store/base.html' %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock title %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

	<style>
		#header {
			background-image: none;
		}
		#navbar-container {
			border-bottom: 1px solid #b5b2c8;
		}
		
		#navbar-right li p,
		#navbar-bottom li a,
		#navbar-login li a,
		#navbar li a {
			color: #000;
		} 


		/*.section-p1 {
		padding: 20px;
		}*/

		/* Reviews container */
		.reviews-container {
		display: flex;
		flex-direction: column;
		}

		/* Individual review row */
		.review-row {
		background-color: #ffffff;
		border-radius: 8px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		padding: 15px;
		margin-bottom: 15px;
		}

		/* Review text */
		.review-row p:first-child {
		font-size: 1.1rem;
		margin-bottom: 10px;
		}

		/* Reviewer name */
		.review-row p:nth-child(2) {
		font-size: 1.1rem;
		color: #999999;
		}

		/* Star rating */

		.star i {
		color: #f5c518;
		font-size: 1.2rem;
		}

		/* Review images */
		

		/* Media query for responsiveness */
		@media (max-width: 768px) {
			.reviews-container {
				flex-direction: column;
			}

			.review-images img {
				max-width: 100%;
			}
		}

	</style>
{% endblock css %}
{% block content %}

	<section class="section-p1">
		<div id="container">
			<div class="sticky-container">
				<div class="little-sticky-container">
		  			<div class="small-img-group">
		  				{% for image in images %}
			  				<div class="small-img-row">
			  					<img src="{{ image.imageURL }}" data-index="{{ forloop.counter0 }}" onclick="changeMainImage(event)">
			  				</div>
		  				{% endfor %}
		  			</div>
		  			<div class="image-container">
		    			<img src="{{ images.0.imageURL }}" id="mainImage">
		  			</div>
	  			</div>
  			</div>

  			<div class="product-details">
    			<h2>{{ product.name }}</h2>
    			<div class="rating">
					<div class="star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
					<p class="review-number">{{ reviews.count }}</p>  
					<span> reviews</span>
				</div>
				<span>Sold Out</span>
				<div class="price-box">
					<span class="crossed-price">${{ product.crossed_out_price }}</span>
					<span class="price">${{ product.price }}</span>
					<span class="save">Save {{ product.calc_save }}%</span>
				</div>

				<div class="prospect">
					<p>Free Worldwide Shipping</p>
					<p>Easy Returns & Exchanges</p>
					<p>Fast, Friendly Support</p>
					<p>In stock, ready to ship</p>
					
					{% for attribute, attribute_values in attribute_value_map.items %}
						<p>{{ attribute }}</p>
						{% for attribute_value in attribute_values %}
							<button>{{ attribute_value }}</button>
						{% endfor %}
					{% endfor %}

					<!-- {% for pa in product_attributes %}
					  <p>{{ pa.attribute.attribute.name }}: 
					    {% for value in pa.attribute.productattribute_set.all %}
					      <button>{{ value.get_attribute_value }}</button>
					    {% endfor %}
					  </p>
					{% endfor %} -->

					<!-- <h4>QUANTITY</h4>
					<input type="number" value="1">

					<div class="add-to-cart">
						<button><a href="#">ADD TO CART</a></button>
					</div> -->
					{% if product.available %}
						<div class="form-wrapper">
							<form method="POST" action="{% url 'product' product.slug %}">
							{% csrf_token %}
							<input min="1" value="1" type="number" name="quantity">
							<input class="add-to-cart-button" type="submit" value="Add to Cart">
							</form>
					  	</div>
					{% endif %}
				</div>
				<div class="description">
					<p>{{ product.description|safe }}</p>
				</div>
			</div>
		</div>

	</section>
	<section class="section-p1">
		<div class="reviews-container">
			<h2>CUSTOMER REVIEWS</h2>
			{% for review in reviews %}
				<div class="review-row">
					<p>{{ review.name }}</p>
					<div class="star">
						{% for star in "x"|ljust:review.rating %}
							<i class="fas fa-star"></i>
						{% endfor %}
					</div>
					<p class="review-id" style="display:none;" data-review-id="{{ review.id }}"></p>
					<p>{{ review.text }}</p>

					<div class="review-images" id="review-images">
						<div class="swiper">
						  	<div class="swiper-wrapper">
								{% for image in review.reviewimage_set.all %}
									<div class="viewable-container swiper-slide">
										<img class="viewable " src="{{ image.imageURL}}">
									</div>
								{% endfor %}
							</div>
							<div class="swiper-button-prev"></div>
						  	<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
	<script>
	    // Функція для зміни головного зображення при кліку на маленьку картинку
	    function changeMainImage(event) {
	        // Отримати URL зображення з атрибуту src маленької картинки
	        var imageURL = event.target.src;

	        // Отримати індекс елемента в списку images з атрибуту data-index
	        var index = event.target.getAttribute("data-index");

	        // Змінити src головного зображення на вибране зображення
	        document.getElementById("mainImage").src = imageURL;
	    }
	</script>
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
{% endblock content %}
