:root {
  --swiper-navigation-color: #d1d1d1;
}

#container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

#container .small-img-group {
  text-align: center;
  margin-right: 50px;
}

.small-img-group img {
  width: 76px;
  height: 76px;
  margin-bottom: 15px;
}

.sticky-container {
  
}

.little-sticky-container {
  height: auto;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 40px;
}

.image-container img {
  width: 600px;
  height: 600px;
  /*position: sticky;
  top: 40px;*/
}

.image-container {
  position: relative;
}

#container .product-details {
  padding-left: 60px;
  max-width: 40%;
}

#container .product-details h2 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 10px;
}

#container .rating {
  display: flex;
  justify-content: start;
  padding: 0 0 20px 0;
}

#container .star {
  text-align: start;
}

#container .star i {
  font-size: 15px;
  color: rgb(243, 181, 25);
}

#container .review-number {
  font-size: 16px;
  padding: 2px 8px 0px 8px;
}

#container .rating span {
  font-size: 18px;
}

#container .price-box {
  padding-top: 5px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

#container .crossed-price {
  font-size: 18px;
  text-decoration: line-through;
}

#container .price {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  color: #b12704;
}

#container .save {
  color: #b63514;
  font-size: 16px;
  margin-left: 8px;
}

#container .prospect {
  margin-top: 25px;
}

#container .prospect p {
  font-size: 17px;
  padding-bottom: 12px;
  letter-spacing: 1px;
}

#container .prospect h4 {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}

.prospect input {
  margin-top: 8px;
}

.attribute-container {
  margin-bottom: 12px;
}

.attribute-button {
  color: black;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: 600;
}

.button-active {
  border: 2px solid black;
  cursor: pointer;
}

.qty {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  text-align: center;
  margin-top: 1rem;
}

.prospect input.qtyinput {
  width: 5rem; height: 2rem;  
  font-size: 1.1rem;
  text-align: center;
  border: 1px solid #575757;
  margin-top: 0px;
}
button.qtyminus,
button.qtyplus {
  width: 2rem; height: 2rem;
  color: #fff;
  font-size: 1.5rem;
  background: #575757;
}


.qtyminus {
 padding: 0;
  margin: 0;
  border-style: none;
  touch-action: manipulation;
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
}

.qtyplus {
  padding: 0;
  margin: 0;
  border-style: none;
  touch-action: manipulation;
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
}

#container .add-to-cart {
  margin-top: 25px;

}

#container .add-to-cart button {
  padding: 14px 20px;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: #fff;
}

#container .add-to-cart button:hover {
  cursor: pointer;
}

#container .add-to-cart a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
}

.description>p {
  margin: 16px 0;
  font-size: 1.2rem;
}

.star {
  margin-bottom: 0.5rem;
}

.review-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
}

.review-images img.viewable {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-wrapper form {
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
}

.form-wrapper input[name="quantity"] {
  padding: 8px;
  border: 1px solid #ccc;
}

.form-wrapper .add-to-cart-button {
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
}

.form-wrapper .add-to-cart-button:hover {
  background-color: transparent;
}


body {
  margin: 0 auto;
}

@media screen and (max-width: 2560px) {
  /*body {
    max-width: 1440px;
  }*/
  #header {
    height: 50px;
  }
  #navbar-container {
    display: none;
  }
  #categories {
    border-bottom: 1px solid grey;
  }
}

@media screen and (max-width: 1440px) {
  /*body {
    max-width: 1024px;
  }*/

  /*#categories {
    display: none;
  }*/
  #navbar-bottom li,
  #navbar-login li {
    font-size: 1rem;
  }

  .image-container img {
    width: 360px;
    height: 360px;
  }
}

@media screen and (max-width: 1024px) {
  /*body {
    max-width: 768px;
  }*/

  /*#navbar,
  #navbar-right {
    display: none;
  }*/
  #header {
    padding: 0 50px;
  }

  #categories #navbar-bottom {
    flex-wrap: wrap;
  }
  #navbar-bottom li,
  #navbar-login li {
    font-size: 1.2rem;
  }

  #hero-buttons {
    display: flex;
    width: 520px;
  }

  #hero-title {
    text-align: center;
  }

  #hero-subtitle {
    text-align: center;
  }

  #banners .small-banner2,
  #banners .small-banner {
    background-image: none;
    height: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 20px;
    justify-content: space-between;
  }

  .product-container {
    justify-content: center;
  }
  .image-container img {
    width: 260px;
    height: 260px;
  }

/*  .little-sticky-container {
    transform: translateX(0);
  }*/

}

@media screen and (max-width: 768px) {
  /*body {
    max-width: 425px;
  }*/
  .section-p1 {
    padding: 0;
    margin: 15px auto;
    width: 90%;
  }

  .mobile {
    padding: 0px;
  }

  .mobile i {
    color: #000;
  }

  #hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 320px;
  }

  #container {
    padding-top: 0px;
  }

  #container .small-img-group {
  margin-right: 0px;
  }

  .little-sticky-container {
    overflow: hidden;
/*    position: relative;*/
  }

  .image-container {
   display: none;
  }

  .image-container img {
    width: 160px;
    height: 160px;
  }
  .small-img-group {
    display: flex;
    width: 100%; 
    transition: transform 0.8s ease;
  }
  .small-img-row {
    flex: 0 0 auto;
    width: 100%; 
    box-sizing: border-box;
  }

  .small-img-row img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #container {
    flex-direction: column;
  }
  
  #container .product-details {
    max-width: none;
    padding: 0;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 32px;
  background: #fff;
  min-height: 250px;
  cursor: grab;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z%27%20fill%3D%27%23000%27%2F%3E%3C%2Fsvg%3E);
  left: 1.5rem;
  color: black;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z%27%20fill%3D%27%23000%27%2F%3E%3C%2Fsvg%3E);
    right: 1.5rem;
}

@media screen and (max-width: 425px) {
  /*body {
    max-width: 350px;
  }*/

  #header {
    padding: 0;
    background-image: none;
  }
  .review-images img.viewable {
    width: 100%;
  }
}