{% extends 'store/base.html' %}
{% load static %}
{% block title %}
Collections
{% endblock title %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
	<style>
		#header {
			background-image: none;
		}
		#navbar-container {
			border-bottom: 1px solid #b5b2c8;
		}
		
		#navbar-right li p,
		#navbar-bottom li a,
		#navbar-login li a,
		#navbar li a {
			color: #000;
		} 
	</style>
{% endblock css %}
{% block content %}
	<section id="departments" class="section-p1">
		<h2>CATALOG</h2>
		<div id="department-container">
			<div class="department-box">
				<img src="{% static 'images/dep1.jpg' %}">
				<span><a href="{% url 'collection:category' slug='planters' %}">PLANTERS</a></span>
			</div>

			<div class="department-box">
				<img src="{% static 'images/dep2.jpg' %}">
				<span><a href="{% url 'collection:category' slug='kitchen' %}">KITCHEN</a></span>
			</div>

			<div class="department-box">
				<img src="{% static 'images/dep1.jpg' %}">
				<span><a href="{% url 'collection:category' slug='garden' %}">GARDEN</a></span>
			</div>

			<div class="department-box">
				<img src="{% static 'images/dep3.jpg' %}">
				<span><a href="{% url 'collection:category' slug='home-decor' %}">HOME DECOR</a></span>
			</div>

			<div class="department-box">
				<img src="{% static 'images/dep4.jpeg' %}">
				<span><a href="{% url 'collection:category' slug='bathroom' %}">BATHROOM</a></span>
			</div>

			<div class="department-box">
				<img src="{% static 'images/dep5.jpg' %}">
				<span><a href="{% url 'collection:category' slug='pets' %}">PETS</a></span>
			</div>

			<div class="department-box">
				<img src="{% static 'images/dep6.jpg' %}">
				<span><a href="{% url 'collection:category' slug='car' %}">CAR</a></span>
			</div>

			<div class="department-box">
				<img src="{% static 'images/dep7.jpg' %}">
				<span><a href="{% url 'collection:category' slug='other' %}">OTHER</a></span>
			</div>
		</div>
	</section>
{% endblock content %}